.container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: 900px;

}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
                            
  }

.hide {
    display: none;

}

.minify {
    font-size: 8px;
    
}

.uncenter {
    place-items: left;
    justify-content: left;

}

.imgcurve {
    border-radius:8px;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;

}