@media only screen and (max-width: 480px) {

    #Contactdiv {
        justify-content:center;
        align-items:center;
        padding: 1%;
        background-color: inherit;
        margin: auto;
        
    }

    .contactforms {
        background-color: #292D2E;
        border-radius: 9px;
        padding: 1%;
        place-items: center;
        word-spacing: 1%;
        
    }    

}

@media only screen and (min-width: 481px) {

    #Contactdiv {
        justify-content:center;
        align-items:center;
        padding: 1%;
        background-color: #292D2E;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 24px;
        margin-top: 5%;
        margin-right: 25%;
        margin-bottom: 5%;
        margin-left: 25%;
        
    }

    .contactforms {
        background-color: #292D2E;
        border-radius: 9px;
        padding: 1%;
        place-items: center;
        word-spacing: 1%;
        
    }
    
}

#PDF {
    margin-top: 2.5%;
    margin-bottom:2.5%;

}

#PDF summary {
    margin: auto;
    text-align: center

}

#projects container {
    background-color: inherit;
}

#submit {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold15px arial,sans-serif;
    text-shadow: none;

}