html {
    /* eliminate margin that gets applied to every page */
    margin: 0;
    /* font */
    font-family: 'Montserrat', sans-serif;
    color:#C8C3BC;
    text-align: center;
    letter-spacing: 0px;
    /* Material UI dark mode color */
    background-color: #121212; /* 1st Layer */
    /* background-image: url("eyes.svg"); */
    scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
}

/* Might Override `modetoggle.css` */
/* body {
    margin: 0px;
    background-color: #121212;

} */

span {
    display: inline;

}

h1 {
    max-width: 100%;
    max-height: 100%;
}

p {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    display: block;
    padding: 8px;
    color: #7AA6D4
    
}

article {
    color:#C8C3BC;
    background-color: #232B32;
    padding: 7.5%;
    margin: 0%;

}

input {
    max-width: 100%;
    max-height: 100%;

}

textarea {
    resize: none;
    max-width: 100%;
    max-height: 100%;

}

details {
    /* border: 2.5px solid #292D2E; */
    border-radius: 4px;
    padding: 1em 1em 0;
}

/* summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
} */
