header {
    background-color: rgba(35, 43, 50, 0.4); /* 4th Layer */
    /* offset-x offset-y blur-radius spread-radius color */ /* 0 8px 8px 0 for raised */
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    justify-content: space-between;
    margin: 0px;
    top: 0rem;
    padding-top: .5px;    
    padding-bottom: .5px;

}

header li {
    display: inline-block;
    
}

header a {
    color: #C8C3BC;
    padding: 6px;
    font-size: 23px;
    margin: 0;
    padding: 0;
    max-width: 768px;
    margin-left: 5%;
    margin-right: auto;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    list-style-image: initial;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    list-style-image: initial;
    margin-left: auto;
    margin-right: 5%;

}

header li a {
    color: #03DAC6;
    padding: 12px;
    font-size: 16px;
    text-decoration: none;

}

footer {
    background-color: rgba(35, 43, 50, 0.4); /* 4th Layer */
    /* offset-x offset-y blur-radius spread-radius color */ /* 0 8px 8px 0 for raised */
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    


}

footer p {
    font-size: 16px;
}

footer li {
    display: inline-block;

}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

footer li a {
    color: #03DAC6;
    padding: 6px;
    font-size: 16px;
    text-decoration: none;

}

hr {
    height: 2px;
    /* TODO */
    background-color: rgba(41, 45, 46, .8); /* 2nd layer */
    border: none;
    margin-right: 25%;
    margin-left: 25%;
    align-items: center;
}

/* Responsive Header sizes */

#mobilesocials {
    position: fixed;
    visibility: hidden;
    display: none;
}
@media only screen and (max-width: 480px) {
    header {
        align-items: flex-start;
        justify-content: space-between;
        top: 0rem;
        padding-top: .5px;    
        padding-bottom: .5px; 

    }

    #mobilesocials {
        display: unset;

    }

    td a{
        width: 32px;

    }

    header h1 {
        display: none;

    }

    header li a {
        padding: 6px;
        font-size: 18px;
        text-decoration: none;
        display: none;
    
    }
    

}

@media only screen and (min-width: 1441px) {
    header {
        align-items: flex-start;
        justify-content: space-between;
        top: 0rem;
        padding-top: .5px;    
        padding-bottom: .5px; 

    }

    #mobilesocials {
        display: unset;
    }

    td a{
        width: 64px;

    }

}

/* Responsive Footer sizes */

@media only screen and (max-width: 480px) {
    footer {
        position: fixed-bottom;
        align-items: center;
        padding: 0px;
        bottom: 0rem;
        padding-top: .5%;    
        padding-bottom: .5%;    

    }

    footer li {
        display:block
    }
}

@media only screen and (max-width: 720px) {
    footer {
        position: fixed-bottom;
        align-items: center;
        bottom: 0rem;
        padding-top: .5%;    
        padding-bottom: .5%;    

    }

    footer li {
        display:block
    }
}

@media only screen and (min-width: 721px) {
    footer {
        position: fixed-bottom;
        align-items: center;
        bottom: 0rem;
        padding-top: .5%;    
        padding-bottom: .5%;    

    }
}
