/* Projects Heading */

.projects { 
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;

}

/* Flex Container */

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    /* gaps are only spaces between items */
    row-gap: 100px;   
    column-gap: 40px;
    /* for outer edges */
    margin-right: 100px;
    margin-left: 100px;
}

/* Flex Item */

.box {
    /* background */
    background-color: rgb(35, 43, 50, .6); /* 3rd Layer */
    /* offset-x offset-y blur-radius spread-radius color */ /* 0 2px 2px 0 for resting */
    box-shadow: 0 2px 2px 0 rgba(35, 43, 50, 0.16), 0 0 0 1px rgba(35, 43, 50, 0.08);
    border-radius: 24px;
    /*  Flex properties */
    order: 4;
    flex: 1 1 300px; /* <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> */

}
/* 38, 50, 56 4th */
.box:hover {
    /* offset-x offset-y blur-radius spread-radius color */ /* 0 8px 8px 0 for raised */
    box-shadow: 0 8px 8px 0 rgba(35, 43, 50, 0.16), 0 0 0 1px rgba(35, 43, 50, 0.08);

}

.box a {
    text-decoration: none;
    display: block;
    padding: 8px;
    color: #C8C3BC
}
