
html {
    color:#333333;
    background-color: #FFFFFF;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    padding: 0px;


}

span {
    display: inline;

}

a {
    text-decoration: none;

}

header {
    background-color: #C0C0C0;
    margin: -25px;
    position: fixed-top;
    position: sticky;
    align-items: flex-start;
    top: 0rem;
    padding-top: .5px;    
    padding-bottom: .5px;    
}

footer {
    background-color: #FFFFFF;
    position: sticky;
    align-items: flex-start;
    top: 0rem;

}

article {
    color:#333333;
    background-color: #ecf0f1;
    border-color: #C0C0C0;
    border-style: solid;
    border-radius: 24px;
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    box-shadow: 0 5px 0px 0px #C0C0C0;
}

#Contact {
    justify-content:center;
    align-items:center;
    background-color: #ecf0f1;
    border-style: solid;
    border-color: #C0C0C0;
    border-width: 2px;
    border-radius: 24px;
    margin-top: 1%;
    margin-right: 25%;
    margin-bottom: 1%;
    margin-left: 25%;
    box-shadow: 0px 3px 0px 3px #C0C0C0;
    
}

#contactmsg {
    padding: 5%;
    overflow: auto;

}

#icons  {
    position: fixed;
    top: 30%;
    left: .50%;
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
    border-color:#ecf0f1;
    border-style: solid;
    border-radius: 24px;
    box-shadow: 0px 0px 0px 1px #C0C0C0;
    
}

#icons a {
    padding: 10px;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    place-items: center;
    display:block;
    margin: 0 auto;
    text-indent: 0px;

}

#Linkedinlogo {
    padding: 10px;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    place-items: center;
    display:block;
    margin: 0 auto;
    text-indent: 0px;
    
}

#Githublogo {
    padding: 10px;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    place-items: center;
    display:block;
    margin: 0 auto;
    text-indent: 0px;
    
}

#Twitterlogo {
    padding: 10px;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    place-items: center;
    display:block;
    margin: 0 auto;
    text-indent: 0px;

}

#Facebooklogo {
    padding: 10px;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    place-items: center;
    display:block;
    margin: 0 auto;
    text-indent: 0px;

}


#projects {
    justify-content: center;
    word-spacing: 1px;
}


.articlemsg {
    justify-content: center;
    word-spacing: 1px;
    
}

.contactforms {
    background-color: #ecf0f1;
    color:#333333;
    padding: 1%;
    justify-content: center;
    word-spacing: 1px;
    
}


