/* Base elements */

html {
    color:#C8C3BC;
    background-color: #1F2223;
    background-image: url("eyes.svg");
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #181A1B;

}

span {
    display: inline;

}

h1 {
    max-width: 100%;
    max-height: 100%;
}

p {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    display: block;
    padding: 8px;
    color: #33559d
    
}

input {
    max-width: 100%;
    max-height: 100%;

}

textarea {
    resize: none;
    max-width: 100%;
    max-height: 100%;

}

header {
    background-color: #292D2E;
    position: sticky;
    align-items: flex-start;
    margin: 0px;
    top: 0rem;
    padding-top: .5px;    
    padding-bottom: .5px;    

}

header li {
    display: inline-block;

}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

header li a {
    padding: 6px;
    font-size: 20px;
    text-decoration: none;

}

footer {
    background-color: #292D2E;

}

footer p {
    font-size: 16px;
}

footer li {
    display: inline-block;

}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

footer li a {
    padding: 6px;
    font-size: 16px;
    text-decoration: none;

}





/* Scrollbar attributes */

/* width */
::-webkit-scrollbar {
    width: 10px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;

}





/* Responsive Header sizes */

#mobilesocials {
    display: none;
}
@media only screen and (max-width: 480px) {
    header {
        position: sticky;
        align-items: flex-start;
        top: 0rem;
        padding-top: .5px;    
        padding-bottom: .5px; 

    }

    #mobilesocials {
        display: unset;

    }

    td a{
        width: 32px;

    }

    header h1 {
        display: none;

    }

    header li a {
        padding: 6px;
        font-size: 18px;
        text-decoration: none;
    
    }
    

}

@media only screen and (min-width: 1441px) {
    header {
        position: sticky;
        align-items: flex-start;
        top: 0rem;
        padding-top: .5px;    
        padding-bottom: .5px; 

    }

    #mobilesocials {
        display: unset;
    }

    td a{
        width: 64px;

    }

}





/* Responsive Footer sizes */

@media only screen and (max-width: 480px) {
    footer {
        position: fixed-bottom;
        align-items: center;
        padding: 0px;
        bottom: 0rem;
        padding-top: .5%;    
        padding-bottom: .5%;    

    }

}

@media only screen and (max-width: 720px) {
    footer {
        position: fixed-bottom;
        align-items: center;
        bottom: 0rem;
        padding-top: .5%;    
        padding-bottom: .5%;    

    }
}

@media only screen and (min-width: 721px) {
    footer {
        position: fixed-bottom;
        align-items: center;
        bottom: 0rem;
        padding-top: .5%;    
        padding-bottom: .5%;    

    }
}





/* Responsive Font sizes */

@media only screen and (max-width: 480px) {
    p {
        font-size: 16px;
        
    }

    h1 {
        font-size: 22px;
        
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    label {
        font-size: 10px;
    }
    
}

@media only screen and (max-width: 720px) and (min-width: 481px) {
    p {
        font-size: 18px;
        
    }

    h1 {
        font-size: 24px;
        
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }
    
}

@media only screen and (min-width: 721px) {
    p {
        font-size: 22px;

    }

    h1 {
        font-size: 26px;

    }

    h2 {
        font-size: 24px;

    }

    h3 {
        font-size: 22px;
        
    }

    article h3 {
        display: none;
    }

}

@media only screen and (min-width: 1441px) {
    p {
        font-size: 24px;

    }

    h1 {
        font-size: 28px;

    }

    h2 {
        font-size: 26px;

    }

    h3 {
        display: none;

    }

}









/* divs */

@media only screen and (max-width: 480px) {

    #Contactdiv {
        justify-content:center;
        align-items:center;
        padding: 1%;
        background-color: inherit;
        margin: auto;
        
    }

    .contactforms {
        background-color: #292D2E;
        border-radius: 9px;
        padding: 1%;
        place-items: center;
        word-spacing: 1%;
        
    }    

}

@media only screen and (min-width: 481px) {

    #Contactdiv {
        justify-content:center;
        align-items:center;
        padding: 1%;
        background-color: #292D2E;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 24px;
        margin-top: 5%;
        margin-right: 25%;
        margin-bottom: 5%;
        margin-left: 25%;
        
    }

    .contactforms {
        background-color: #292D2E;
        border-radius: 9px;
        padding: 1%;
        place-items: center;
        word-spacing: 1%;
        
    }
    
}

#PDF {
    margin-top: 1%;
    margin-bottom: 5%;

}

#PDF summary {
    margin: auto;

}


article {
    color:#C8C3BC;
    background-color: #1F2223;
    padding: 7.5%;
    margin: 0%;

}







/* Classes */

.container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: 900px;
    background-color: inherit;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
                            
  }

.hide {
    display: none;

}

.button {
    background-color: lightcoral;
    color: #C8C3BC;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    font-size: 16px;
    width: 50%;
    border-radius: 6px;
    

}

.button:active {
    background-color: lightcoral;
    box-shadow: 0 5px #999;
    transform: translateY(4px);
    transition-duration: 1s;

}

.button:hover {
    color: #C8C3BC;
    background-color: lightcoral;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition-duration: 0.2s;
}

.inputField {
    margin-top: 0px;

}

.contactforms {
    color: #C8C3BC;
    background-color:rgba(0, 0, 0, 0.2)
}

.errorMessage {
    color:red; display:none;

}

.prjart {
    margin: 0;
    height: 100vh;
    background-color: inherit;


}

.prjart article {
    background-color: #292D2E;
    margin-bottom: 10%;
}

.articlemsg {
    justify-content: center;
    word-spacing: 1px;
    
}

.projects {
    background-color: inherit;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;

}

#projects container {
    background-color: inherit;
}

.row {
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;

}

.card {
    display: inline-block;
    border-radius: 24px;
    background-color: #202324;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
    background: rgba(1, 1, 1, 0.2)
    
}





/* Responsive Card sizes */

@media only screen and (max-width: 480px) {
    .column {
        float: left;
        padding: 2.5%;
        width: 99%; 
        /* 4 cards = 25% 3 cards = 33%  2 cards = 50% */
    
    }

    .card {
        text-align: center;
        padding: 1px;

    }
}


@media only screen and (max-width: 720px) {
    .column {
        float: left;
        padding: 5%;
        width: 50%; /* 4 cards = 25% 3 cards = 33%  2 cards = 50% */
    
    }

    .card {
        text-align: center;
        padding: 12px;
        
    }
}

@media only screen and (min-width: 721px) {
    .column {
        float: left;
        padding: 50px 10px;
        width: 33%; /* 4 cards = 25% 3 cards = 33% */
        overflow: hidden;

    
    }
    .card {
        text-align: center;
        padding: 32px;

    }

}




















/* Icon Features */

#imgs img:hover {
    background: rgba(1, 1, 1, 0.2);
    
}

#icons img:hover {
    background: rgba(1, 1, 1, 0.2);
    
}





/* Responsive Header icons */

@media only screen and (max-width: 480px) {
    #imgs  {
        letter-spacing: inherit;
        border-spacing: 25%;
        border-collapse: collapse;
        top: 0%;
        display: inline-block;
    
    }

    #imgs a {
        padding: 2.5px;
        font-size: 8px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }

    #Linkedinimg {
        
        padding: 2.5px;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
        
    }
    
    #Githubimg {
        padding: 2.5px;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
        
    }
    
    #Twitterimg {
        padding: 2.5px;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
    
    #Facebookimg {
        padding: 2.5px;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
    
}

@media only screen and (min-width: 1441px) {
    #imgs  {
        letter-spacing: inherit;
        border-spacing: 25%;
        border-collapse: collapse;
        top: 0%;
        display: inline-block;
        
    
    }

    #imgs a {
        padding: 2.5px;
        font-size: 8px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }

    #Linkedinimg {
        
        padding: 2.5px;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
        
    }
    
    #Githubimg {
        padding: 2.5px;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
        
    }
    
    #Twitterimg {
        padding: 2.5px;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
    
    #Facebookimg {
        padding: 2.5px;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
    
}





/* Responsive Sticky icons */

#icons {
    background-color: #3C4143;

}

@media only screen and (max-width: 480px) {
    #icons  {
        position: fixed;
        visibility: hidden;
        display: none;
        top: 30%;
        left: .50%;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    }

    #icons a {
        display: none;
        padding: 2.5px;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
    
    #Linkedinlogo {
        display: none;
        padding: 2.5px;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
        
    }
    
    #Githublogo {
        display: none;
        padding: 2.5px;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
        
    }
    
    #Twitterlogo {
        display: none;
        padding: 2.5px;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
    
    #Facebooklogo {
        display: none;
        padding: 2.5px;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
}

@media only screen and (max-width: 720px) and (min-width: 481px){
    #icons  {
        position: fixed;
        top: 30%;
        left: .50%;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    }

    #icons a {
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
    
    #Linkedinlogo {
        
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
        
    }
    
    #Githublogo {
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
        
    }
    
    #Twitterlogo {
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
    
    #Facebooklogo {
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
}
@media only screen and (min-width: 721px) {
    #icons  {
        position: fixed;
        top: 30%;
        left: .50%;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    }

    #icons a {
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
    
    #Linkedinlogo {
        
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
        
    }
    
    #Githublogo {
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
        
    }
    
    #Twitterlogo {
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
    
    #Facebooklogo {
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
}
@media only screen and (min-width: 1441px) {
    #icons  {
        position: fixed;
        display: none;
        top: 30%;
        left: .50%;
        display: none;
        flex-direction: column;
        padding-top: 5px;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    }

    #icons a {
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
    
    #Linkedinlogo {
        
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
        
    }
    
    #Githublogo {
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
        
    }
    
    #Twitterlogo {
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
    
    #Facebooklogo {
        padding: 2.5px;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        place-items: center;
        display:block;
        margin: 0 auto;
        text-indent: 0px;
    
    }
}

